<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/hibernate_test</property> <!-- Specify the port in the connection.url -->
		<property name="connection.username">root</property>
		<property name="connection.password">root1234</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!--add data to the database, not dropping the schema -->
		<property name="hbm2ddl.auto">create</property>  <!-- if "create", will Drop and re-create the database schema on startup -->

		<!-- Mapping files, if using xml configuration file to list all the table, 
			columns mapping -->
		<mapping resource="HibernateBasic1/customer.hbm.xml" />    <!-- comment out if using annotation -->

		<mapping class="HibernateBasic2.Customer2" />  <!-- if using annotation, need to list all the entity classes -->

		<mapping class="HibernateBasic3.Customer3" />  <!-- if using annotation, need to list all the entity classes -->

		<mapping class="HibernateBasic4.Customer4" />  <!-- if using annotation, need to list all the entity classes -->

		<mapping class="HibernateBasic5.Customer5" />  <!-- if using annotation, need to list all the entity classes -->

		<!-- <mapping class="HibernateBasic5.Address" /> -->  <!-- Address is an Embedded class, no need to add it here -->

		<mapping class="HibernateBasic6.Customer6" />  <!-- if using annotation, need to list all the entity classes -->

		<mapping class="HibernateBasic7.Customer7" />  <!-- if using annotation, need to list all the entity classes -->

		<mapping class="HibernateBasic8.Customer8" />  <!-- if using annotation, need to list all the entity classes -->

		<mapping class="HibernateBasic8.Phone" />  <!-- if using annotation, need to list all the entity classes -->


	</session-factory>



</hibernate-configuration>

<!-- see more: http://stackoverflow.com/questions/16335279/hibernate-configuration-file -->

<!-- for mapping resource vs mapping class: we can have both mapping source 
	and mapping class in the hibernate.cfg.xml. However, it may have some problem 
	in Unit test. see: http://stackoverflow.com/questions/16479055/in-the-hibernate-cfg-xml-file-can-you-use-both-mapping-resource-and-mapping-cl -->